@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap');

@theme {
  --font-sans: 'Bakbak One', sans-serif;
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #FFFFFF;
  --foreground: #FFFFFF;
  --text-primary: #FFFFFF;
  --text-secondary: #8F8F8F;
  --accent: #8C67F6;
  --border: #7F7F7F;
  --highlight: #65EFAD;
  --muted: #E1D7F3;
  --dark: #272932;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #E1D7F3;
    --text-primary: #FFFFFF;
    --text-secondary: #8F8F8F;
    --accent: #8C67F6;
    --border: #7F7F7F;
    --highlight: #65EFAD;
    --muted: #E1D7F3;
    --dark: #272932;
  }
}

body {
  color: var(--text-primary);
  background: var(--background);
  font-family: var(--font-sans);
}
